# Importing libraries and calling the data

In [56]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
import matplotlib.pyplot as plt
import networkx as nx

fd=pd.read_csv('Groceries_dataset.csv')

# Exploratory data analysis (EDA)

In [26]:
df.head()

               0           1                 2
0  Member_number        Date   itemDescription
1           1808  21-07-2015    tropical fruit
2           2552  05-01-2015        whole milk
3           2300  19-09-2015         pip fruit
4           1187  12-12-2015  other vegetables

In [30]:
df.isnull().sum()

Customer_Number    0
Date               0
Description        0
dtype: int64

In [31]:
df.sample(10)

      Customer_Number        Date               Description
32512            2996  26-09-2015          hygiene articles
22511            3491  26-10-2015  female sanitary products
24003            3050  11-03-2015                   dessert
1688             4776  08-02-2015                   sausage
17802            4293  05-07-2015                rolls/buns
32624            3250  12-04-2015                    liquor
21118            2063  10-09-2015                     soups
4103             3491  06-06-2015     fruit/vegetable juice
37113            2053  21-09-2015                rolls/buns
28298            1205  30-04-2014                       oil

In [47]:
df_grouped = df.groupby('Member_number')['itemDescription'].apply(list).reset_index()

# Data preprocessing

In [52]:
df_grouped = df.groupby('Member_number')['itemDescription'].apply(list).reset_index()
te = TransactionEncoder()
te_ary = te.fit(df_grouped['itemDescription']).transform(df_grouped['itemDescription'])
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Applying Apriori Algorithm

In [92]:
frequent_itemsets = apriori(df_encoded, min_support=0.1, use_colnames=True) 
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [93]:
print("Frequent Itemsets:\n", frequent_itemsets)
print("\nAssociation Rules:\n", rules)

Frequent Itemsets:
      support                        itemsets
0   0.119548                          (beef)
1   0.158799                  (bottled beer)
2   0.213699                 (bottled water)
3   0.135967                   (brown bread)
4   0.126475                        (butter)
5   0.165213                   (canned beer)
6   0.100564                       (chicken)
7   0.185480                  (citrus fruit)
8   0.114931                        (coffee)
9   0.120831                          (curd)
10  0.133145                 (domestic eggs)
11  0.137506                   (frankfurter)
12  0.102617             (frozen vegetables)
13  0.124936         (fruit/vegetable juice)
14  0.116983                     (margarine)
15  0.139815                    (newspapers)
16  0.376603              (other vegetables)
17  0.177527                        (pastry)
18  0.170600                     (pip fruit)
19  0.132376                          (pork)
20  0.349666                    (rolls/buns)
21  0.230631               (root vegetables)
22  0.206003                       (sausage)
23  0.168291                 (shopping bags)
24  0.313494                          (soda)
25  0.233710                (tropical fruit)
26  0.154695            (whipped/sour cream)
27  0.458184                    (whole milk)
28  0.282966                        (yogurt)
29  0.112365     (bottled water, whole milk)
30  0.146742  (other vegetables, rolls/buns)
31  0.124166        (other vegetables, soda)
32  0.191380  (other vegetables, whole milk)
33  0.120318      (other vegetables, yogurt)
34  0.119805              (rolls/buns, soda)
35  0.178553        (rolls/buns, whole milk)
36  0.111339            (rolls/buns, yogurt)
37  0.113135   (root vegetables, whole milk)
38  0.106978           (sausage, whole milk)
39  0.151103              (soda, whole milk)
40  0.116470    (tropical fruit, whole milk)
41  0.150590            (yogurt, whole milk)

Association Rules:
           antecedents   consequents  antecedent support  consequent support  \
0     (bottled water)  (whole milk)            0.213699            0.458184
1  (other vegetables)  (whole milk)            0.376603            0.458184
2        (rolls/buns)  (whole milk)            0.349666            0.458184
3           (sausage)  (whole milk)            0.206003            0.458184
4            (yogurt)  (whole milk)            0.282966            0.458184

    support  confidence      lift  representativity  leverage  conviction  \
0  0.112365    0.525810  1.147597               1.0  0.014452    1.142615
1  0.191380    0.508174  1.109106               1.0  0.018827    1.101643
2  0.178553    0.510638  1.114484               1.0  0.018342    1.107190
3  0.106978    0.519303  1.133394               1.0  0.012591    1.127146
4  0.150590    0.532185  1.161510               1.0  0.020940    1.158185

   zhangs_metric   jaccard  certainty  kulczynski
0       0.163569  0.200825   0.124815    0.385526
1       0.157802  0.297448   0.092265    0.462934
2       0.157955  0.283734   0.096813    0.450168
3       0.148230  0.191989   0.112804    0.376393
4       0.193926  0.254996   0.136580    0.430426

In [95]:
frequent_itemsets=frequent_itemsets.sort_values(by='support')
frequent_itemsets.tail(20)

     support                        itemsets
41  0.150590            (yogurt, whole milk)
39  0.151103              (soda, whole milk)
26  0.154695            (whipped/sour cream)
1   0.158799                  (bottled beer)
5   0.165213                   (canned beer)
23  0.168291                 (shopping bags)
18  0.170600                     (pip fruit)
17  0.177527                        (pastry)
35  0.178553        (rolls/buns, whole milk)
7   0.185480                  (citrus fruit)
32  0.191380  (other vegetables, whole milk)
22  0.206003                       (sausage)
2   0.213699                 (bottled water)
21  0.230631               (root vegetables)
25  0.233710                (tropical fruit)
28  0.282966                        (yogurt)
24  0.313494                          (soda)
20  0.349666                    (rolls/buns)
16  0.376603              (other vegetables)
27  0.458184                    (whole milk)

# report
We used Apriori Algorithm to discover the possible patterns of a grocery dataset. Here is what we have got:
## Exploratory Data Analysis
by working with the data set, we (fortunately) found that no missed values (NULL) in our dataset, on addition to noticing that a customer can puchase many items in a day, the thing that helped us understanding the data and preparing for calculating support
## Findings of association rule learning
After deploying Apriori Algorithm to calculate support (with minimum value of 0.1), we resulted that there were some mathches. for example:
1. The people who buy other vegetables will buy whole milk (support: %19.13).
2. The people who buy rolls/buns Will also buy whole milk (support: %17.85).
3. The people who buy soda will buy whole milk (support: %15.11).
We can also notice that the whole milk has the highest support value, which means it's more propable to be bought with other items